* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Rubik", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
}

.PanelListItem {
  position: relative;
}
.PanelListItem.active {
  background: #293039;
}

.PanelListItem.active::after {
  border-right: none !important;
  height: 100%;
  top: 8px;
  right: -1px;
  transform: scaleY(-1);
  background: radial-gradient(
      circle closest-side,
      transparent 0,
      transparent 50%,
      #293039 0
    )
    200% 200%/400% 400%;
  width: 8px;
  overflow: hidden;
  content: "";
  position: absolute;
}

.PanelListItem.active::before {
  background: radial-gradient(
      circle closest-side,
      transparent 0,
      transparent 50%,
      #293039 0
    )
    200% 200%/400% 400%;
  top: -8px;
  content: "";
  position: absolute;
  right: 0;
  height: 8px;
  width: 8px;
  overflow: hidden;
}

.PanelItemClose {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  z-index: 2;
}

.c1 {
  margin-left: -6px;
  cursor: pointer;
  border: none;
  background: none;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  color: #fff;
  right: -5px;
}

.c2 {
  margin-left: -6px;
  border: none;
  right: 8px;
  position: relative;
  justify-content: center;
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translate(100%, -50%);
}
